@{
    ViewBag.Title = "Seguros";
}

<div class="container">
    <div class="col-md-4 text-center">
        <p class="lead">Seccion de Empresas</p>
        <p>
            @Html.ActionLink("VER", "Index", "Company", new { id = "" }, new { @class = "btn btn-primary", role = "button" })
        </p>
    </div>
    <div class="col-md-4 text-center">
        <p class="lead">Seccion de Productos</p>
        <p>
            @Html.ActionLink("VER", "Index", "Product", new { id = "" }, new { @class = "btn btn-primary", role = "button" })
        </p>
    </div>
    <div class="col-md-4 text-center">
        <p class="lead">Seccion de ventas</p>
        <p>
            @Html.ActionLink("VER", "Index", "Sale", new { id = "" }, new { @class = "btn btn-primary", role = "button" })
        </p>
    </div>
</div>